.task-item-container {
  padding: 1.5em;
  background-color: rgb(223, 223, 223);
  margin: 1em 0;
  border-radius: 1em;
  box-shadow: 3px 1px 6px #acacac5f;
  .task-text-wrapper {
    display: flex;
    justify-content: space-between;
    h4 {
      margin: 0;
    }
    button {
      width: 2em;
      height: 2em;
      border-radius: 100%;
      color: rgb(191, 23, 85);
      font-weight: bold;
      font-family: proxima-nova;
      background-color: transparent;
      border: none;
    }
  }
  .task-day-wrapper {
    p {
      color: gray;
    }
  }
}
